.form_Container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input{
    text-align: center;
    box-sizing:border-box;
    margin: 8px 200px 10px 200px;
    border-radius: 10px;
    border: 1px solid #ccc;
    align-content: center; 
}
.input_Title{
    padding: 10px 20px;
}
.input_Description{
    padding: 30px 20px;
}
.input_Form{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.btn_adicionar{
    color: #ffff;
    font-weight: bold;
    text-align: center;
    background-color: #06c11f;
    padding: 15px 25px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    align-self: center;
    cursor: pointer;
    border-radius: 10px;
}