body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    background-color: #fefefe;
}

.container {
    text-align: center;
}

h1 {
    color: #27ae60;
    font-size: 3.6vh;
    margin-bottom: 1vh;
}

p{
    font-size: 1.8vh;
    color: #333;
}