body{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #bfdef3;
    text-align:center;
    height: 100vh;
    flex-direction: column;
}
.container_Header{
    margin: 0 auto 0;         
    text-align: left;      
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;

}
.header_Titulo{
    margin-bottom: 2px;
    font-size: 5vh;
}
.header_Habilidades{
    margin: 10px 0 0 0 ;
    padding: 0;
}
.header_Contato{
     margin: 3px 0 0 0; /*acima direita abaixo  esquerda*/
    padding: 0;
}
.header_email{
    text-decoration: none;
    font-size: 3vh;
    font-weight: bold;
    color: #3252b9;
}
.header_redes{
    margin: 3px 0 0 0 ;
    padding: 0;
}

.header_linkedIn{
    text-decoration: none;
    margin-right: 10px;
    color: #1f45ec;
    font-weight: bold;
}
#icon_Linkedin{
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
#icon_Github{
    margin-left: 5px;
    width: 25px;
    height: 25px;
}
.header_Github{
    text-decoration: none;
    margin-left: 10px;
    color: #000000;
    font-weight: bold;
    border-color: #0998f7 ;
}

/* Inicio do main */

.container_Objetivo {
    width: 80%; /* Largura do container */
    max-width: 800px; /* Largura máxima */
    text-align: left; /* Alinha o texto à esquerda */
    margin: 10px auto; /* Centraliza horizontalmente */
    padding: 5px; /* Espaçamento interno */
    background-color: #fff; /* Fundo branco */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
}

.objetivo_Objetivo{
    width: 93vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.container_Perfil{
    width: 80%;
    max-width: 800px;
    text-align: left;
    margin: 15px auto;
    padding: 5px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}